---
spring:
  datasource:
    filter:
      slf4j:
        enabled: true
        result-set-close-after-log-enabled: false
        statement-create-after-log-enabled: false
        result-set-open-after-log-enabled: false
        statement-close-after-log-enabled: false
      wall:
        enabled: true
        result-set-close-after-log-enabled: false
        statement-create-after-log-enabled: false
        result-set-open-after-log-enabled: false
        statement-close-after-log-enabled: false
        config:
          strict-syntax-check: true
          allow-multi-queries: true
          multi-statement-allow: true
          minus-allow: true
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://172.17.0.105:3306/trend?characterEncoding=utf8&useSSL=false
    username: trendUser
    password: trend_Pass@2020!
    #url: jdbc:mysql://117.51.145.89:3306/trend?characterEncoding=utf8&useSSL=false
    #username: root
    #password: xxx
    minIdle: 1
    validationQuery: SELECT 1 FROM DUAL
    initialSize: 1
    maxWait: 60000
    poolPreparedStatements: false
    filters: stat,wall
    maxPoolPreparedStatementPerConnectionSize: 20
    testOnBorrow: false
    testWhileIdle: true
    minEvictableIdleTimeMillis: 300000
    timeBetweenEvictionRunsMillis: 60000
    testOnReturn: false
    maxActive: 20
    removeAbandoned: true
    removeAbandonedTimeout: 10
    logAbandoned: true
  jpa:
    hibernate:
      jdbc:
        batch_size: 1000
      cache:
        provider_class: org.hibernate.cache.NoCacheProvider
      temp:
        use_jdbc_metadata_defaults: false
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      ddl-auto: update
      ejb:
        naming_strategy: org.hibernate.cfg.ImprovedNamingStrategy
      format_sql: false
      show_sql: false
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
server:
  port: 9000
  servlet:
    context-path: /trend
mybatis:
  mapper-locations: classpath:cn/arp/trend/repository/biz/*/*.xml
  type-alias-package: cn.arp.trend.entity
login:
  passportLogout: https://passport.escience.cn/logout?WebServerURL=
  dispatch: http://dispatch.dev.arp.cn
  local: true
  home: /index.html
  globalhome: /global
  domainhome: /domain
  appname: trend
system:
   test: false
swagger:
  enable: true