<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.CasChinaAward10YearFinalManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.CasChinaAward10YearFinal" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="jxlb" property="jxlb" jdbcType="VARCHAR" />
    <result column="hjnf" property="hjnf" jdbcType="DOUBLE" />
    <result column="hjdj" property="hjdj" jdbcType="VARCHAR" />
    <result column="bh" property="bh" jdbcType="VARCHAR" />
    <result column="xmmc_or_tdmc" property="xmmcOrTdmc" jdbcType="VARCHAR" />
    <result column="xmlb" property="xmlb" jdbcType="VARCHAR" />
    <result column="first_wcr" property="firstWcr" jdbcType="VARCHAR" />
    <result column="second_wcr" property="secondWcr" jdbcType="VARCHAR" />
    <result column="third_wcr" property="thirdWcr" jdbcType="VARCHAR" />
    <result column="first_wcdw_std" property="firstWcdwStd" jdbcType="VARCHAR" />
    <result column="first_wcdw" property="firstWcdw" jdbcType="VARCHAR" />
    <result column="second_wcdw_std" property="secondWcdwStd" jdbcType="VARCHAR" />
    <result column="second_wcdw" property="secondWcdw" jdbcType="VARCHAR" />
    <result column="third_wcdw_std" property="thirdWcdwStd" jdbcType="VARCHAR" />
    <result column="third_wcdw" property="thirdWcdw" jdbcType="VARCHAR" />
    <result column="other_main_wcdw_std" property="otherMainWcdwStd" jdbcType="VARCHAR" />
    <result column="other_main_wcdw" property="otherMainWcdw" jdbcType="VARCHAR" />
    <result column="tjdw_or_zj" property="tjdwOrZj" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="datasource_type" property="datasourceType" jdbcType="VARCHAR" />
    <result column="etl_datasource" property="etlDatasource" jdbcType="VARCHAR" />
    <result column="firstinput_time" property="firstinputTime" jdbcType="TIMESTAMP" />
    <result column="laterupdate_time" property="laterupdateTime" jdbcType="TIMESTAMP" />
    <result column="csrq" property="csrq" jdbcType="VARCHAR" />
    <result column="qsrq" property="qsrq" jdbcType="VARCHAR" />
    <result column="xb" property="xb" jdbcType="VARCHAR" />
    <result column="ly" property="ly" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.arp.trend.entity.biz.CasChinaAward10YearFinalWithBLOBs" extends="BaseResultMap" >
    <result column="main_wcr" property="mainWcr" jdbcType="LONGVARCHAR" />
    <result column="main_wcdw" property="mainWcdw" jdbcType="LONGVARCHAR" />
    <result column="other_main_wcr" property="otherMainWcr" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jxlb, hjnf, hjdj, bh, xmmc_or_tdmc, xmlb, first_wcr, second_wcr, third_wcr, first_wcdw_std,
    first_wcdw, second_wcdw_std, second_wcdw, third_wcdw_std, third_wcdw, other_main_wcdw_std,
    other_main_wcdw, tjdw_or_zj, remarks, datasource_type, etl_datasource, firstinput_time, 
    laterupdate_time, csrq, qsrq, xb, ly
  </sql>
  <sql id="Blob_Column_List" >
    main_wcr, main_wcdw, other_main_wcr
  </sql>

  <select id="queryAward1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DetailAwardTrendQueryDO">
    SELECT
      ANY_VALUE(hjnf) AS nf,
      COUNT(id) AS num
    FROM
      v_cas_china_award_10year_final
    <where>
      <![CDATA[hjnf >= #{query.startYear}]]>
      AND <![CDATA[hjnf <= #{query.endYear}]]>
      AND (
        first_wcdw_std in (
        SELECT
          jgmc
        FROM
          v_ref_org_type
        <where>
          1 = 1
          <choose>
            <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
              AND JGBH in (
              <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                #{item}
              </foreach>
              )
            </when>
            <otherwise>
              AND JGBH is not null
            </otherwise>
          </choose>
          AND
          research_field IS NOT NULL
          AND research_field!="NA"
        </where>
        )
        OR
        second_wcdw_std in (
          SELECT
            jgmc
          FROM
            v_ref_org_type
          <where>
            1 = 1
            <choose>
              <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
                AND JGBH in (
                <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                  #{item}
                </foreach>
                )
              </when>
              <otherwise>
                AND JGBH is not null
              </otherwise>
            </choose>
            AND research_field IS NOT NULL
            AND research_field!="NA"
          </where>
        )
        OR
        third_wcdw_std in (
          SELECT
            jgmc
          FROM
            v_ref_org_type
          <where>
            1 = 1
            <choose>
              <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
                AND JGBH in (
                <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                  #{item}
                </foreach>
                )
              </when>
              <otherwise>
                AND JGBH is not null
              </otherwise>
            </choose>
            AND research_field IS NOT NULL
            AND research_field!="NA"
          </where>
        )
      )
    </where>
    GROUP BY hjnf
    ORDER BY hjnf
  </select>

</mapper>