<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.CasHlhlAwardWinnerManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.CasHlhlAwardWinner" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="cid" property="cid" jdbcType="BIGINT" />
    <result column="metaid" property="metaid" jdbcType="BIGINT" />
    <result column="xm" property="xm" jdbcType="VARCHAR" />
    <result column="xb" property="xb" jdbcType="VARCHAR" />
    <result column="nl" property="nl" jdbcType="VARCHAR" />
    <result column="nd" property="nd" jdbcType="VARCHAR" />
    <result column="hjjx" property="hjjx" jdbcType="VARCHAR" />
    <result column="hjxk" property="hjxk" jdbcType="VARCHAR" />
    <result column="gzdw_std" property="gzdwStd" jdbcType="VARCHAR" />
    <result column="gzdw" property="gzdw" jdbcType="VARCHAR" />
    <result column="ysqk" property="ysqk" jdbcType="VARCHAR" />
    <result column="datasource_type" property="datasourceType" jdbcType="VARCHAR" />
    <result column="etl_datasource" property="etlDatasource" jdbcType="VARCHAR" />
    <result column="firstinput_time" property="firstinputTime" jdbcType="TIMESTAMP" />
    <result column="laterupdate_time" property="laterupdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, desc, pid, cid, metaid, xm, xb, nl, nd, hjjx, hjxk, gzdw_std, gzdw, ysqk, datasource_type,
    etl_datasource, firstinput_time, laterupdate_time
  </sql>
  
  <sql id="queryRefOrgType4AwardDetail">
    SELECT
      jgmc
    FROM
    v_ref_org_type
    <where>
      1 = 1
      <choose>
        <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
          AND JGBH in (
          <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND JGBH is not null
        </otherwise>
      </choose>
      AND research_field IS NOT NULL
      AND research_field!="NA"
    </where>
  </sql>

  <select id="queryAward2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DetailAwardTrendQueryDO">
    SELECT
      ANY_VALUE(nd) AS nf,
      COUNT(id) AS num
    FROM
    v_cas_hlhl_award_winner
    <where>
      <![CDATA[nd >= #{query.startYear}]]>
      AND <![CDATA[nd <= #{query.endYear}]]>
      AND gzdw_std in
      (
        SELECT
          jgmc
        FROM
      v_ref_org_type
        <where>
          1 = 1
          <choose>
            <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
              AND JGBH in (
              <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                #{item}
              </foreach>
              )
            </when>
            <otherwise>
              AND JGBH is not null
            </otherwise>
          </choose>
          AND research_field IS NOT NULL
          AND research_field!="NA"
        </where>
      )
    </where>
    GROUP BY nd
    ORDER BY nd
  </select>

  <select id="queryAward3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DetailAwardTrendQueryDO">
    SELECT
      ANY_VALUE(hjnf) AS nf,
      COUNT(id) AS num
    FROM
    v_cas_future_prize
    <where>
      <![CDATA[hjnf >= #{query.startYear}]]>
      AND <![CDATA[hjnf <= #{query.endYear}]]>
      AND hjrdw_std in
      (
        SELECT
          jgmc
        FROM
      v_ref_org_type
        <where>
          1 = 1
          <choose>
            <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
              AND JGBH in (
              <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                #{item}
              </foreach>
              )
            </when>
            <otherwise>
              AND JGBH is not null
            </otherwise>
          </choose>
          AND research_field IS NOT NULL
          AND research_field!="NA"
        </where>
      )
    </where>
    GROUP BY hjnf
    ORDER BY hjnf
  </select>

  <select id="queryAward4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DetailAwardTrendQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      COUNT(id) AS num
    FROM
    v_cas_qiushi_scientist_award
    <where>
      <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      AND gzdw_std in
      (
        SELECT
          jgmc
        FROM
      v_ref_org_type
        <where>
          1 = 1
          <choose>
            <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
              AND JGBH in (
              <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                #{item}
              </foreach>
              )
            </when>
            <otherwise>
              AND JGBH is not null
            </otherwise>
          </choose>
          AND research_field IS NOT NULL
          AND research_field!="NA"
        </where>
      )
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryAwardDetail1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DetailAwardDetailQueryDO">
    SELECT
      hjjx,
      COUNT(id) AS number
    FROM
    v_cas_hlhl_award_winner
    <where>
      <![CDATA[nd >= #{query.startYear}]]>
      AND <![CDATA[nd <= #{query.endYear}]]>
      AND gzdw_std in
      (
        SELECT
          jgmc
        FROM
      v_ref_org_type
        <where>
          1 = 1
          <choose>
            <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
              AND JGBH in (
              <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                #{item}
              </foreach>
              )
            </when>
            <otherwise>
              AND JGBH is not null
            </otherwise>
          </choose>
          AND research_field IS NOT NULL
          AND research_field!="NA"
        </where>
      )
    </where>
    GROUP BY hjjx
  </select>

  <select id="queryAwardDetail2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DetailAwardDetailQueryDO">
    SELECT
      hjlb,
      COUNT(id) AS number
    FROM
    v_cas_future_prize
    <where>
      <![CDATA[hjnf >= #{query.startYear}]]>
      AND <![CDATA[hjnf <= #{query.endYear}]]>
      AND hjrdw_std in
      (
        SELECT
          jgmc
        FROM
      v_ref_org_type
        <where>
          1 = 1
          <choose>
            <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
              AND JGBH in (
              <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                #{item}
              </foreach>
              )
            </when>
            <otherwise>
              AND JGBH is not null
            </otherwise>
          </choose>
          AND research_field IS NOT NULL
          AND research_field!="NA"
        </where>
      )
    </where>
    GROUP BY hjlb
  </select>

  <select id="queryAwardDetail3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DetailAwardDetailQueryDO">
    SELECT
      hjlb,
      COUNT(id) AS number
    FROM
    v_cas_qiushi_scientist_award
    <where>
      <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      AND gzdw_std in
      (
        SELECT
          jgmc
        FROM
      v_ref_org_type
        <where>
          1 = 1
          <choose>
            <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
              AND JGBH in (
              <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                #{item}
              </foreach>
              )
            </when>
            <otherwise>
              AND JGBH is not null
            </otherwise>
          </choose>
          AND research_field IS NOT NULL
          AND research_field!="NA"
        </where>
      )
    </where>
    GROUP BY hjlb
  </select>

  <select id="queryAwardDetail4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DetailAwardDetailQueryDO">
    SELECT
      ANY_VALUE(jxlb) AS jxlb,
      ANY_VALUE(hjdj) AS hjdj,
      COUNT(id) AS num
    FROM
    v_cas_china_award_10year_final
    <where>
      jxlb = #{jxlb}
      AND <![CDATA[hjnf >= #{query.startYear}]]>
      AND <![CDATA[hjnf <= #{query.endYear}]]>
      AND (
        first_wcdw_std in(
          SELECT
            jgmc
          FROM
      v_ref_org_type
          <where>
            1 = 1
            <choose>
              <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
                AND JGBH in (
                <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                  #{item}
                </foreach>
                )
              </when>
              <otherwise>
                AND JGBH is not null
              </otherwise>
            </choose>
            AND research_field IS NOT NULL
            AND research_field!="NA"
          </where>
        )
        OR
        second_wcdw_std in (
          SELECT
            jgmc
          FROM
      v_ref_org_type
          <where>
            1 = 1
            <choose>
              <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
                AND JGBH in (
                <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                  #{item}
                </foreach>
                )
              </when>
              <otherwise>
                AND JGBH is not null
              </otherwise>
            </choose>
            AND research_field IS NOT NULL
            AND research_field!="NA"
          </where>
        )
        OR
        third_wcdw_std in (
          SELECT
            jgmc
          FROM
      v_ref_org_type
          <where>
            1 = 1
            <choose>
              <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
                AND JGBH in (
                <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                  #{item}
                </foreach>
                )
              </when>
              <otherwise>
                AND JGBH is not null
              </otherwise>
            </choose>
            AND research_field IS NOT NULL
            AND research_field!="NA"
          </where>
        )
      )
    </where>
    GROUP BY jxlb,hjdj
  </select>

  <select id="queryAwardDetail7" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DetailAwardDetailQueryDO">
    SELECT
      jxlb,
      hjnf,
      first_wcdw_std,
      second_wcdw_std,
      third_wcdw_std
    FROM
    v_cas_china_award_10year_final
    <where>
      jxlb = "国家最高科学技术奖"
      AND <![CDATA[hjnf >= #{query.startYear}]]>
      AND <![CDATA[hjnf <= #{query.endYear}]]>
      AND (
        first_wcdw_std in (<include refid="queryRefOrgType4AwardDetail"/>)
        OR second_wcdw_std in (<include refid="queryRefOrgType4AwardDetail"/>)
        OR third_wcdw_std in (<include refid="queryRefOrgType4AwardDetail"/>)
      )
    </where>
    ORDER BY hjnf DESC
  </select>
</mapper>