<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.MentorRadarManualMapper" >

  <select id="mentorRadarQuery" resultType="java.util.HashMap">
    SELECT b.jgbh, b.jgmc, zb_rc, ds, zb_glry, ssb, jyjx, zjxs, zb_skjs, zb_yxsy, zb_xslw,
    zb_xsgzllw, zb_xshj, kjj
    FROM v_stat_ucsa_radar AS a, v_ref_org_type AS b
    WHERE a.jgbh=b.jgbh
    AND a.jgbh ${arrayStr}
  </select>
</mapper>