<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.RefEduEnrollmentManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.RefEduEnrollment" >
    <result column="xh" property="xh" jdbcType="VARCHAR" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="lx" property="lx" jdbcType="VARCHAR" />
    <result column="zt" property="zt" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="sql_affiliation">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
      <otherwise>
        AND JGBH is not null
      </otherwise>
    </choose>
  </sql>

  <select id="queryEduStudent1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      COUNT(xh) AS rs
    FROM
    v_ref_edu_enrollment
    <where>
      lx = "博士"
      AND nf IS NOT NULL
      <include refid="sql_affiliation"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryEduStudent2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
    ANY_VALUE(nf) AS nf,
    COUNT(xh) AS rs
    FROM
    v_ref_edu_graduation
    <where>
      lx = "博士生毕业"
      AND nf IS NOT NULL
      <include refid="sql_affiliation"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryEduStudent3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      COUNT(xh) AS rs
    FROM
    v_ref_edu_enrollment
    <where>
      lx = "硕士"
      AND nf IS NOT NULL
      <include refid="sql_affiliation"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryEduStudent4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      COUNT(xh) AS rs
    FROM
    v_ref_edu_graduation
    <where>
      lx = "硕士生毕业"
      AND nf IS NOT NULL
      <include refid="sql_affiliation"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>
</mapper>