<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.RefOrgTypeManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.RefOrgType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="jgmc_en" property="jgmcEn" jdbcType="VARCHAR" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="research_field" property="researchField" jdbcType="VARCHAR" />
    <result column="sljg" property="sljg" jdbcType="VARCHAR" />
    <result column="sljgmc" property="sljgmc" jdbcType="VARCHAR" />
    <result column="ssfy" property="ssfy" jdbcType="VARCHAR" />
    <result column="sssf" property="sssf" jdbcType="VARCHAR" />
    <!--<result column="desc" property="desc" jdbcType="VARCHAR" />-->
    <result column="datasource_type" property="datasourceType" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, jgmc, jgmc_en, jgbh, research_field, sljg, sljgmc, ssfy, sssf, datasource_type
  </sql>

    <sql id="sql_affiliation">
        <choose>
            <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
                AND JGBH in (
                <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </when>
            <otherwise>
                AND JGBH is not null
            </otherwise>
        </choose>
    </sql>

    <sql id="subQueryAwardDistribution">
        SELECT
            jgmc
        FROM
      v_ref_org_type
        <where>
            1 = 1
            <include refid="sql_affiliation"/>
            AND research_field IS NOT NULL
            AND research_field!="NA"
        </where>
    </sql>

    <select id="queryOrgByJGBHAndResearch" resultMap="BaseResultMap"
          parameterType="cn.arp.trend.data.model.DO.OrgInfoQueryDO">
        select
          <include refid="Base_Column_List" />
        from
      v_ref_org_type
        <where>
            1 = 1
          <choose>
            <when test="orgInfoQuery.affiliationIds != null and orgInfoQuery.affiliationIds.size() > 0">
              AND JGBH in (
                <foreach collection="orgInfoQuery.affiliationIds" item="item" index="index" separator=",">
                  #{item}
                </foreach>
              )
            </when>
            <otherwise>
              AND JGBH is not null
            </otherwise>
          </choose>
          <choose>
            <when test="orgInfoQuery.fieldNames != null and orgInfoQuery.fieldNames.size() > 0">
              AND research_field in (
              <foreach collection="orgInfoQuery.fieldNames" item="item" index="index" separator=",">
                #{item}
              </foreach>
              )
            </when>
            <otherwise>
              AND research_field is not null
              AND research_field!='NA'
            </otherwise>
          </choose>
        </where>
        ORDER BY
          convert(jgmc using gbk) ASC
    </select>

    <select id="queryResearchByJGBHAndResearch" resultType="java.lang.String"
            parameterType="cn.arp.trend.data.model.DO.OrgInfoQueryDO">
        select
          DISTINCT research_field AS field
        from
      v_ref_org_type
        <where>
            1 = 1
            <choose>
                <when test="orgInfoQuery.affiliationIds != null and orgInfoQuery.affiliationIds.size() > 0">
                    AND JGBH in (
                    <foreach collection="orgInfoQuery.affiliationIds" item="item" index="index" separator=",">
                        #{item}
                    </foreach>
                    )
                </when>
                <otherwise>
                    AND JGBH is not null
                </otherwise>
            </choose>
            <choose>
                <when test="orgInfoQuery.fieldNames != null and orgInfoQuery.fieldNames.size() > 0">
                    AND research_field in (
                    <foreach collection="orgInfoQuery.fieldNames" item="item" index="index" separator=",">
                        #{item}
                    </foreach>
                    )
                </when>
                <otherwise>
                    AND research_field is not null
                    AND research_field!='NA'
                </otherwise>
            </choose>
        </where>
        ORDER BY
          research_field
    </select>

    <select id="queryOrgAndResearchByAll" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
        from
      v_ref_org_type
        <where>
            jgbh is not null
            AND research_field is not null
            and research_field!='NA'
        </where>
        ORDER BY
          convert(jgmc using gbk) ASC
    </select>

    <select id="queryJgmcAndResearchAndSsfy" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
        from
      v_ref_org_type
        <where>
            research_field!='NA'
        </where>
    </select>

    <select id="queryAwardDistribution" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.DetailAwardDistributionQueryDO">
      SELECT
        g.jgbh,
        g.jgmc,
        g.research_field,
        g.num_qsjc,
        g.num_wlkx,
        g.num_hlhl,
        IFNULL(h.num_gjkj,0) AS num_gjkj
      FROM (
        SELECT
          e.jgbh,
          e.jgmc,
          e.research_field,
          e.num_qsjc,
          e.num_wlkx,
          IFNULL(f.num_hlhl,0) AS num_hlhl
        FROM (
          SELECT
            c.jgbh,
            c.jgmc,
            c.research_field,
            c.num_qsjc,
            IFNULL(d.num_wlkx,0) AS num_wlkx
          FROM (
            SELECT
              a.jgbh,
              a.jgmc,
              a.research_field,
              IFNULL(b.num_qsjc,0) AS num_qsjc
            FROM (
              SELECT
                jgbh,
                jgmc,
                research_field
              FROM
              v_ref_org_type
              <where>
                  1 = 1
                  <include refid="sql_affiliation"/>
                  AND research_field IS NOT NULL
                  AND research_field !="NA"
              </where>
            ) AS a
            LEFT JOIN
            (
              SELECT
                ANY_VALUE(gzdw_std) AS jgmc,
                COUNT(id) AS num_qsjc
              FROM
              v_cas_qiushi_scientist_award
              <where>
                  <![CDATA[nf >= #{query.startYear}]]>
                  AND <![CDATA[nf <= #{query.endYear}]]>
                  AND gzdw_std in(<include refid="subQueryAwardDistribution"/>)
              </where>
              GROUP BY gzdw_std
            ) AS b
            ON a.jgmc = b.jgmc
          ) AS c
          LEFT JOIN
          (
            SELECT
              ANY_VALUE(hjrdw_std) AS jgmc,
              COUNT(id) AS num_wlkx
            FROM
              v_cas_future_prize
            <where>
                <![CDATA[hjnf >= #{query.startYear}]]>
                AND <![CDATA[hjnf <= #{query.endYear}]]>
                AND hjrdw_std in (<include refid="subQueryAwardDistribution"/>)
            </where>
        GROUP BY hjrdw_std
        ) AS d
        ON c.jgmc = d.jgmc
        ) AS e
        LEFT JOIN
        (
          SELECT
            ANY_VALUE(gzdw_std) AS jgmc,
            COUNT(id) AS num_hlhl
          FROM
            v_cas_hlhl_award_winner
          <where>
              <![CDATA[nd >= #{query.startYear}]]>
              AND <![CDATA[nd <= #{query.endYear}]]>
              AND gzdw_std in (<include refid="subQueryAwardDistribution"/>)
          </where>
          GROUP BY gzdw_std
        ) AS f
        ON e.jgmc = f.jgmc
      ) AS g
      LEFT JOIN
      (
        SELECT
          ANY_VALUE(jgmc) AS jgmc,
          COUNT(id) AS num_gjkj
        FROM
        (
          SELECT
            id,
            first_wcdw_std AS jgmc
          FROM
            v_cas_china_award_10year_final
          <where>
              first_wcdw_std in (<include refid="subQueryAwardDistribution"/>)
              AND <![CDATA[hjnf >= #{query.startYear}]]>
              AND <![CDATA[hjnf <= #{query.endYear}]]>
          </where>
          UNION ALL
          SELECT
            id,
            second_wcdw_std AS jgmc
          FROM
            v_cas_china_award_10year_final
          <where>
              second_wcdw_std in (<include refid="subQueryAwardDistribution"/>)
              AND <![CDATA[hjnf >= #{query.startYear}]]>
              AND <![CDATA[hjnf <= #{query.endYear}]]>
          </where>
          UNION ALL
          SELECT
            id,
            third_wcdw_std AS jgmc
          FROM
            v_cas_china_award_10year_final
          <where>
              third_wcdw_std in (<include refid="subQueryAwardDistribution"/>)
              AND <![CDATA[hjnf >= #{query.startYear}]]>
              AND <![CDATA[hjnf <= #{query.endYear}]]>
          </where>
        ) AS t
        GROUP BY jgmc
      ) AS h
      ON g.jgmc = h.jgmc
    </select>

    <select id="queryAreaAwardDistribution" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.DetailAwardDistributionQueryDO">
        SELECT
          m.jgbh,
          m.jgmc,
          m.research_field,
          m.num_qsjc,
          m.num_wlkx,
          m.num_hlhl,
          m.num_zrkx,
          m.num_jsfm,
          m.num_kjjb,
          IFNULL(n.num_zgkj,0) AS num_zgkj
        FROM
        (
          SELECT
            k.jgbh,
            k.jgmc,
            k.research_field,
            k.num_qsjc,
            k.num_wlkx,
            k.num_hlhl,
            k.num_zrkx,
            k.num_jsfm,
            IFNULL(l.num_kjjb,0) AS num_kjjb
          FROM(
            SELECT
              i.jgbh,
              i.jgmc,
              i.research_field,
              i.num_qsjc,
              i.num_wlkx,
              i.num_hlhl,
              i.num_zrkx,
              IFNULL(j.num_jsfm, 0) AS num_jsfm
            FROM(
              SELECT
                g.jgbh,
                g.jgmc,
                g.research_field,
                g.num_qsjc,
                g.num_wlkx,
                g.num_hlhl,
                IFNULL(h.num_zrkx,0) AS num_zrkx
              FROM(
                SELECT
                  e.jgbh,
                  e.jgmc,
                  e.research_field,
                  e.num_qsjc,
                  e.num_wlkx,
                  IFNULL(f.num_hlhl,0) AS num_hlhl
                FROM(
                  SELECT
                    c.jgbh,
                    c.jgmc,
                    c.research_field,
                    c.num_qsjc,
                    IFNULL(d.num_wlkx,0) AS num_wlkx
                  FROM(
                    SELECT
                      a.jgbh,
                      a.jgmc,
                      a.research_field,
                      IFNULL(b.num_qsjc,0) AS num_qsjc
                    FROM (
                      SELECT
                        jgbh,
                        jgmc,
                        research_field
                      FROM
                        v_ref_org_type
                      <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field !="NA"
                      </where>
                    ) AS a
                    LEFT JOIN
                    (
                      SELECT
                        ANY_VALUE(gzdw_std) AS jgmc,
                        COUNT(id) AS num_qsjc
                      FROM
                        v_cas_qiushi_scientist_award
                      <where>
                        <![CDATA[nf >= #{query.startYear}]]>
                        AND <![CDATA[nf <= #{query.endYear}]]>
                        AND gzdw_std in
                        (
                          SELECT
                            jgmc
                          FROM
                            v_ref_org_type
                          <where>
                            1 = 1
                            <include refid="sql_affiliation"/>
                            AND research_field IS NOT NULL
                            AND research_field!="NA"
                          </where>
                        )
                      </where>
                      GROUP BY gzdw_std
                    ) AS b
                    ON a.jgmc = b.jgmc
                  ) AS c
                  LEFT JOIN
                  (
                    SELECT
                      ANY_VALUE(hjrdw_std) AS jgmc,
                      COUNT(id) AS num_wlkx
                    FROM
                      v_cas_future_prize
                    <where>
                      <![CDATA[hjnf >= #{query.startYear}]]>
                      AND <![CDATA[hjnf <= #{query.endYear}]]>
                      AND hjrdw_std in
                      (
                        SELECT
                          jgmc
                        FROM
                          v_ref_org_type
                        <where>
                          1 = 1
                          <include refid="sql_affiliation"/>
                          AND research_field IS NOT NULL
                          AND research_field!="NA"
                        </where>
                      )
                    </where>
                    GROUP BY hjrdw_std
                  ) AS d
                  ON c.jgmc = d.jgmc
                ) AS e
                LEFT JOIN
                (
                  SELECT
                    ANY_VALUE(gzdw_std) AS jgmc,
                    COUNT(id) AS num_hlhl
                  FROM
                    v_cas_hlhl_award_winner
                  <where>
                    <![CDATA[nd >= #{query.startYear}]]>
                    AND <![CDATA[nd <= #{query.endYear}]]>
                    AND gzdw_std in
                    (
                      SELECT
                        jgmc
                      FROM
                    v_ref_org_type
                      <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field!="NA"
                      </where>
                    )
                  </where>
                  GROUP BY gzdw_std
                ) AS f
                ON e.jgmc = f.jgmc
              ) AS g
              LEFT JOIN
              (
                SELECT
                  ANY_VALUE(jgmc) AS jgmc,
                  COUNT(id) AS num_zrkx
                FROM(
                  SELECT
                    id,
                    first_wcdw_std AS jgmc
                  FROM
                    v_cas_china_award_10year_final
                  <where>
                    jxlb="国家自然科学奖"
                    AND first_wcdw_std in
                    (
                      SELECT
                        jgmc
                      FROM
                    v_ref_org_type
                      <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field!="NA"
                      </where>
                    )
                    AND <![CDATA[hjnf >= #{query.startYear}]]>
                    AND <![CDATA[hjnf <= #{query.endYear}]]>
                  </where>
                  UNION ALL
                  SELECT
                    id,
                    second_wcdw_std AS jgmc
                  FROM
                    v_cas_china_award_10year_final
                  <where>
                    jxlb="国家自然科学奖"
                    AND second_wcdw_std in
                    (
                      SELECT
                        jgmc
                      FROM
                    v_ref_org_type
                      <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field!="NA"
                      </where>
                    )
                    AND <![CDATA[hjnf >= #{query.startYear}]]>
                    AND <![CDATA[hjnf <= #{query.endYear}]]>
                  </where>
                  UNION ALL
                  SELECT
                    id,
                    third_wcdw_std AS jgmc
                  FROM
                    v_cas_china_award_10year_final
                  <where>
                    jxlb="国家自然科学奖"
                    AND third_wcdw_std in
                    (
                      SELECT
                        jgmc
                      FROM
                        v_ref_org_type
                      <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field!="NA"
                      </where>
                    )
                    AND <![CDATA[hjnf >= #{query.startYear}]]>
                    AND <![CDATA[hjnf <= #{query.endYear}]]>
                  </where>
                ) AS t
                GROUP BY jgmc
              ) AS h
              ON g.jgmc = h.jgmc
            ) AS i
            LEFT JOIN
            (
              SELECT
                ANY_VALUE(jgmc) AS jgmc,
                COUNT(id) AS num_jsfm
              FROM(
                SELECT
                  id,
                  first_wcdw_std AS jgmc
                FROM
                  v_cas_china_award_10year_final
                <where>
                  jxlb="国家技术发明奖"
                  AND first_wcdw_std in
                  (
                    SELECT
                      jgmc
                    FROM
                      v_ref_org_type
                    <where>
                      1 = 1
                      <include refid="sql_affiliation"/>
                      AND research_field IS NOT NULL
                      AND research_field!="NA"
                    </where>
                    AND <![CDATA[hjnf >= #{query.startYear}]]>
                    AND <![CDATA[hjnf <= #{query.endYear}]]>
                  )
                </where>
                UNION ALL
                SELECT
                  id,
                  second_wcdw_std AS jgmc
                FROM
                  v_cas_china_award_10year_final
                <where>
                    jxlb="国家技术发明奖"
                    AND second_wcdw_std in
                    (
                    SELECT
                    jgmc
                    FROM
                      v_ref_org_type
                    <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field!="NA"
                    </where>
                    AND <![CDATA[hjnf >= #{query.startYear}]]>
                    AND <![CDATA[hjnf <= #{query.endYear}]]>
                    )
                </where>
                UNION ALL
                SELECT
                  id,
                  third_wcdw_std AS jgmc
                FROM
                  v_cas_china_award_10year_final
                <where>
                    jxlb="国家技术发明奖"
                    AND third_wcdw_std in
                    (
                    SELECT
                    jgmc
                    FROM
                      v_ref_org_type
                    <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field!="NA"
                    </where>
                    AND <![CDATA[hjnf >= #{query.startYear}]]>
                    AND <![CDATA[hjnf <= #{query.endYear}]]>
                    )
                </where>
              ) AS t
              GROUP BY jgmc
            )  AS j
            ON i.jgmc = j.jgmc
          ) AS k
          LEFT JOIN
          (
            SELECT ANY_VALUE(jgmc) AS jgmc, COUNT(id) AS num_kjjb
            FROM(
                SELECT
                id,
                first_wcdw_std AS jgmc
                FROM
                  v_cas_china_award_10year_final
                <where>
                    jxlb="国家科学技术进步奖"
                    AND first_wcdw_std in
                    (
                    SELECT
                    jgmc
                    FROM
                  v_ref_org_type
                    <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field!="NA"
                    </where>
                    AND <![CDATA[hjnf >= #{query.startYear}]]>
                    AND <![CDATA[hjnf <= #{query.endYear}]]>
                    )
                </where>
                UNION ALL
                SELECT
                id,
                second_wcdw_std AS jgmc
                FROM
                  v_cas_china_award_10year_final
                <where>
                    jxlb="国家科学技术进步奖"
                    AND second_wcdw_std in
                    (
                    SELECT
                    jgmc
                    FROM
                  v_ref_org_type
                    <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field!="NA"
                    </where>
                    AND <![CDATA[hjnf >= #{query.startYear}]]>
                    AND <![CDATA[hjnf <= #{query.endYear}]]>
                    )
                </where>
                UNION ALL
                SELECT
                id,
                third_wcdw_std AS jgmc
                FROM
                  v_cas_china_award_10year_final
                <where>
                    jxlb="国家科学技术进步奖"
                    AND third_wcdw_std in
                    (
                    SELECT
                    jgmc
                    FROM
                  v_ref_org_type
                    <where>
                        1 = 1
                        <include refid="sql_affiliation"/>
                        AND research_field IS NOT NULL
                        AND research_field!="NA"
                    </where>
                    AND <![CDATA[hjnf >= #{query.startYear}]]>
                    AND <![CDATA[hjnf <= #{query.endYear}]]>
                    )
                </where>
            ) AS t
            GROUP BY jgmc
          ) AS l
          ON k.jgmc = l.jgmc
        ) AS m
        LEFT JOIN
        (
          SELECT ANY_VALUE(jgmc) AS jgmc, COUNT(id) AS num_zgkj
          FROM
          (
            SELECT
            id,
            first_wcdw_std AS jgmc
            FROM
              v_cas_china_award_10year_final
            <where>
                jxlb="国家最高科学技术奖"
                AND first_wcdw_std in
                (
                SELECT
                jgmc
                FROM
              v_ref_org_type
                <where>
                    1 = 1
                    <include refid="sql_affiliation"/>
                    AND research_field IS NOT NULL
                    AND research_field!="NA"
                </where>
                AND <![CDATA[hjnf >= #{query.startYear}]]>
                AND <![CDATA[hjnf <= #{query.endYear}]]>
                )
            </where>
            UNION ALL
            SELECT
            id,
            second_wcdw_std AS jgmc
            FROM
              v_cas_china_award_10year_final
            <where>
                jxlb="国家最高科学技术奖"
                AND second_wcdw_std in
                (
                SELECT
                jgmc
                FROM
              v_ref_org_type
                <where>
                    1 = 1
                    <include refid="sql_affiliation"/>
                    AND research_field IS NOT NULL
                    AND research_field!="NA"
                </where>
                AND <![CDATA[hjnf >= #{query.startYear}]]>
                AND <![CDATA[hjnf <= #{query.endYear}]]>
                )
            </where>
            UNION ALL
            SELECT
            id,
            third_wcdw_std AS jgmc
            FROM
              v_cas_china_award_10year_final
            <where>
                jxlb="国家最高科学技术奖"
                AND third_wcdw_std in
                (
                SELECT
                jgmc
                FROM
                  v_ref_org_type
                <where>
                    1 = 1
                    <include refid="sql_affiliation"/>
                    AND research_field IS NOT NULL
                    AND research_field!="NA"
                </where>
                AND <![CDATA[hjnf >= #{query.startYear}]]>
                AND <![CDATA[hjnf <= #{query.endYear}]]>
                )
            </where>
          ) AS t
          GROUP BY jgmc
        ) AS n
        ON m.jgmc = n.jgmc
    </select>

    <select id="querySorting" resultMap="BaseResultMap">
      SELECT
        jgmc, ssfy
      from
        v_ref_org_type
    </select>

    <select id="queryAreaProjectXdzx" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectQueryDO">
      SELECT
        ANY_VALUE(nf) AS nf, SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
      FROM
        v_stat_xdzx AS a, v_ref_org_type AS b
      <where>
          a.jgmc = b.jgmc
          AND <![CDATA[nf >= #{query.startYear}]]>
          AND <![CDATA[nf <= #{query.endYear}]]>
          <include refid="sql_affiliation"/>
      </where>
      GROUP BY nf
    </select>

    <select id="queryAreaProjectXdzx1" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectQueryDO">
        SELECT
        ANY_VALUE(nf) AS nf, SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
        FROM
        v_stat_xdzx AS a, v_ref_org_type AS b
        <where>
            a.jgmc = b.jgmc
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            <include refid="sql_affiliation"/>
        </where>
        GROUP BY nf
    </select>

    <select id="queryAreaProjectXdzx2" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectQueryDO">
        SELECT
          SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
        FROM
          v_stat_xdzx AS a, v_ref_org_type AS b
        <where>
            a.jgmc = b.jgmc
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            <include refid="sql_affiliation"/>
        </where>
    </select>

    <select id="queryAreaProjectXdzx3" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectQueryDO">
        SELECT
          ANY_VALUE(jgbh) AS jgbh, ANY_VALUE(a.jgmc) AS jgmc, SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
        FROM
        v_stat_xdzx AS a, v_ref_org_type AS b
        <where>
            a.jgmc = b.jgmc
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            <include refid="sql_affiliation"/>
        </where>
        GROUP BY jgbh
        ORDER BY jgmc
    </select>

    <select id="queryAreaProjectXdzx4" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectQueryDO">
        SELECT
          SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
        FROM
          v_stat_xdzx AS a, v_ref_org_type AS b
        <where>
            a.jgmc = b.jgmc
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            AND jgbh IS NOT NULL
        </where>
    </select>

    <select id="queryAreaProjectZdyf1" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectQueryDO">
        SELECT
        ANY_VALUE(nf) AS nf, SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
        FROM
        v_stat_most_project AS a, v_ref_org_type AS b
        <where>
            a.jgmc = b.jgmc
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            <include refid="sql_affiliation"/>
        </where>
        GROUP BY nf
    </select>

    <select id="queryAreaProjectZdyf2" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectQueryDO">
        SELECT
        SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
        FROM
        v_stat_most_project AS a, v_ref_org_type AS b
        <where>
            a.jgmc = b.jgmc
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            <include refid="sql_affiliation"/>
        </where>
    </select>

    <select id="queryAreaProjectZdyf3" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectQueryDO">
        SELECT
        ANY_VALUE(jgbh) AS jgbh, ANY_VALUE(a.jgmc) AS jgmc, SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
        FROM
        v_stat_most_project AS a, v_ref_org_type AS b
        <where>
            a.jgmc = b.jgmc
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            <include refid="sql_affiliation"/>
        </where>
        GROUP BY jgbh
        ORDER BY jgmc
    </select>

    <select id="queryAreaProjectZdyf4" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectQueryDO">
        SELECT
        SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
        FROM
        v_stat_most_project AS a, v_ref_org_type AS b
        <where>
            a.jgmc = b.jgmc
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            AND jgbh IS NOT NULL
        </where>
    </select>

    <select id="queryAreaProjectNsfcTrend1" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectNsfcTrendQueryDO">
      SELECT
        ANY_VALUE(nf) AS nf, SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
      FROM
        v_stat_nsfc_project AS a, v_ref_org_type AS b
      <where>
        a.jgmc=b.jgmc
        <choose>
            <when test="query.category != null and query.category != '全部资助类别' and query.category != ''">
                AND AND zzlb = #{query.category}
            </when>
        </choose>
        AND <![CDATA[nf >= #{query.startYear}]]>
        AND <![CDATA[nf <= #{query.endYear}]]>
        <include refid="sql_affiliation"/>
      </where>
      GROUP BY nf
      ORDER BY nf
    </select>

    <select id="queryAreaProjectNsfcTrend2" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectNsfcTrendQueryDO">
        SELECT
          ANY_VALUE(nf) AS nf, SUM(xm) AS xm, ROUND(SUM(jf)/10000,2) AS jf
        FROM
          v_stat_arp_project
        <where>
            1 = 1
            <choose>
                <when test="query.category != null and query.category != '全部资助类别' and query.category != ''">
                    AND AND lb = #{query.category}
                </when>
            </choose>
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            <include refid="sql_affiliation"/>
        </where>
        GROUP BY nf
        ORDER BY nf
    </select>

    <select id="queryAreaProjectNsfcDist1" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectNsfcDistQueryDO">
      SELECT
        ANY_VALUE(jgbh) AS jgbh, ANY_VALUE(a.jgmc) AS jgmc, SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
      FROM
        v_stat_nsfc_project AS a, v_ref_org_type AS b
      <where>
          a.jgmc = b.jgmc
          <choose>
              <when test="query.category != null and query.category != '全部资助类别' and query.category != ''">
                  AND zzlb = #{query.category}
              </when>
          </choose>
          AND <![CDATA[nf >= #{query.startYear}]]>
          AND <![CDATA[nf <= #{query.endYear}]]>
          <include refid="sql_affiliation"/>
      </where>
      GROUP BY jgbh
      ORDER BY jgmc
    </select>

    <select id="queryAreaProjectNsfcDist2" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectNsfcDistQueryDO">
        SELECT
          SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
        FROM
          v_stat_nsfc_project AS a, v_ref_org_type AS b
        <where>
            a.jgmc = b.jgmc
            <choose>
                <when test="query.category != null and query.category != '全部资助类别' and query.category != ''">
                    AND zzlb = #{query.category}
                </when>
            </choose>
            AND <![CDATA[nf >= #{query.startYear}]]>
            AND <![CDATA[nf <= #{query.endYear}]]>
            <include refid="sql_affiliation"/>
        </where>
    </select>

    <select id="queryAreaProjectNsfcDist3" resultType="java.util.HashMap"
            parameterType="cn.arp.trend.data.model.DO.AreaProjectNsfcDistQueryDO">
      SELECT
        SUM(xzxms) AS xm, ROUND(SUM(xzxm_zjf),2) AS jf
      FROM
        v_stat_nsfc_project AS a, v_ref_org_type AS b
      <where>
          a.jgmc = b.jgmc
          AND <![CDATA[nf >= #{query.startYear}]]>
          AND <![CDATA[nf <= #{query.endYear}]]>
          AND jgbh IS NOT NULL
      </where>
    </select>
</mapper>