<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatPatentNewManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatPatentNew" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="zllx" property="zllx" jdbcType="VARCHAR" />
    <result column="sq" property="sq" jdbcType="BIGINT" />
    <result column="pz" property="pz" jdbcType="BIGINT" />
    <result column="sx" property="sx" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jgbh, jgmc, nf, zllx, sq, pz, sx, update_time
  </sql>

  <sql id="sql_affiliation">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
      <otherwise>
        AND JGBH is not null
      </otherwise>
    </choose>
  </sql>

  <sql id="sql_affiliation_a">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND a.JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
      <otherwise>
        AND a.JGBH is not null
      </otherwise>
    </choose>
  </sql>

  <sql id="sql_affiliation_b">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND b.JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
      <otherwise>
        AND b.JGBH is not null
      </otherwise>
    </choose>
  </sql>

  <sql id="sql_affiliation_un_otherwise">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
    </choose>
  </sql>

  <sql id="sql_affiliation_un_otherwise_b">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND b.JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
    </choose>
  </sql>

  <select id="queryZKYChinaPatent1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ZKYChinaPatentQueryDO">
    SELECT
      SUM(sq) AS sq,
      SUM(pz) AS pz,
      SUM(sx) AS sx,
      ANY_VALUE(research_field) AS research_field
    FROM
      v_stat_patent_new AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      <choose>
        <when test="query.affiliation != null and query.affiliation.size() > 0">
          AND a.jgbh in (
          <foreach collection="query.affiliation" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.jgbh is not null
        </otherwise>
      </choose>
      <choose>
        <when test="query.fields != null and query.fields.size() > 0">
          AND research_field in (
          <foreach collection="query.fields" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY research_field
  </select>

  <select id="queryZKYChinaPatent2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ZKYChinaPatentQueryDO">
    SELECT
      ANY_VALUE(b.jgbh) AS jgbh,
      ANY_VALUE(b.jgmc) AS jgmc,
      SUM(sq) AS sq,
      SUM(pz) AS pz,
      SUM(sx) AS sx
    FROM
      v_stat_patent_new AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      <choose>
        <when test="query.fields != null and query.fields.size() > 0">
          AND research_field in (
          <foreach collection="query.fields" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliation != null and query.affiliation.size() > 0">
          AND a.jgbh in (
          <foreach collection="query.affiliation" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.jgbh is not null
        </otherwise>
      </choose>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY b.jgbh
    ORDER BY sq DESC
  </select>

  <select id="queryZKYChinaPatent3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ZKYChinaPatentQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      SUM(sq) AS sq,
      SUM(pz) AS pz,
      SUM(sx) AS sx
    FROM
      v_stat_patent_new AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh = b.jgbh
      <choose>
        <when test="query.fields != null and query.fields.size() > 0">
          AND research_field in (
          <foreach collection="query.fields" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliation != null and query.affiliation.size() > 0">
          AND b.jgbh in (
          <foreach collection="query.affiliation" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.jgbh is not null
        </otherwise>
      </choose>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf
  </select>

  <select id="queryZKYChinaPatent4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ZKYChinaPatentQueryDO">
    SELECT
      ANY_VALUE(a.jgbh) AS jgbh,
      ANY_VALUE(a.jgmc) AS jgmc,
      SUM(sq) AS sq,
      SUM(pz) AS pz,
      SUM(sx) AS sx
    FROM
      v_stat_arp_patent AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh = b.jgbh
      <choose>
        <when test="query.fields != null and query.fields.size() > 0">
          AND research_field in (
          <foreach collection="query.fields" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliation != null and query.affiliation.size() > 0">
          AND a.jgbh in (
          <foreach collection="query.affiliation" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.jgbh is not null
        </otherwise>
      </choose>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY a.jgbh
    ORDER BY sq DESC
  </select>
  
  <select id="queryAreaPatent1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaPatentQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf, SUM(sq) AS sq, SUM(pz) AS pz, SUM(sx) AS sx
    FROM
      v_stat_patent_new
    <where>
      1 = 1
      <include refid="sql_affiliation"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryAreaPatent2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaPatentQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf, SUM(sq) AS sq, SUM(pz) AS pz, SUM(sx) AS sx
    FROM
      v_stat_arp_patent
    <where>
      1 = 1
      <include refid="sql_affiliation"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryAreaPatent3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaPatentQueryDO">
    SELECT
      SUM(sq) AS sq, SUM(pz) AS pz, SUM(sx) AS sx
    FROM
      v_stat_patent_new AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      <include refid="sql_affiliation_un_otherwise_b"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
  </select>

  <select id="queryAreaPatent4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaPatentQueryDO">
    SELECT
      ANY_VALUE(b.jgbh) AS jgbh, ANY_VALUE(b.jgmc) AS jgmc, SUM(sq) AS sq, SUM(pz) AS pz, SUM(sx) AS sx
    FROM
      v_stat_patent_new AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      <include refid="sql_affiliation_a"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY b.jgbh
    ORDER BY sq DESC
  </select>

  <select id="queryAreaPatent5" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaPatentQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf, SUM(lj) AS lj, SUM(xz) AS xz
    FROM
      v_stat_patent AS a, v_ref_org_type AS b
    <where>
      a.jgmc=b.jgmc AND zllx="PCTPatent"
      <include refid="sql_affiliation"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryAreaPatent6" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaPatentQueryDO">
    SELECT
      SUM(lj) AS lj, SUM(xz) AS xz
    FROM
      v_stat_patent AS a, v_ref_org_type AS b
    <where>
      a.jgmc=b.jgmc
      <include refid="sql_affiliation_b"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
  </select>

  <select id="queryAreaPatent7" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaPatentQueryDO">
    SELECT
      ANY_VALUE(b.jgbh) AS jgbh, ANY_VALUE(b.jgmc) AS jgmc, SUM(lj) AS lj, SUM(xz) AS xz
    FROM
      v_stat_patent AS a, v_ref_org_type AS b
    <where>
      a.jgmc=b.jgmc
      <include refid="sql_affiliation_b"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY b.jgbh
    ORDER BY xz DESC
  </select>

  <select id="queryAreaPatent8" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaPatentQueryDO">
    SELECT
      SUM(sq) AS sq, SUM(pz) AS pz, SUM(sx) AS sx
    FROM
      v_stat_patent_new AS a, v_ref_org_type AS b
    <where>
      a.jgmc=b.jgmc
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
  </select>

  <select id="queryAreaPatent9" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaPatentQueryDO">
    SELECT
      SUM(lj) AS lj, SUM(xz) AS xz
    FROM
      v_stat_patent AS a, v_ref_org_type AS b
    <where>
      a.jgmc=b.jgmc
      AND b.jgbh IS NOT NULL
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
  </select>
</mapper>