<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatArpFinIncomeManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatArpFinIncome" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="srhj" property="srhj" jdbcType="DOUBLE" />
    <result column="czbz" property="czbz" jdbcType="DOUBLE" />
    <result column="sysr" property="sysr" jdbcType="DOUBLE" />
    <result column="jysr" property="jysr" jdbcType="DOUBLE" />
    <result column="qtsr" property="qtsr" jdbcType="DOUBLE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="FundsMap" type="cn.arp.trend.entity.biz.Funds">
    <result column="JGBH" property="jgbh" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="VARCHAR" />
    <result column="SRJE" property="srje" jdbcType="DOUBLE" />
    <result column="ZGZS" property="zgzs" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jgbh, jgmc, nf, srhj, czbz, sysr, jysr, qtsr, update_time
  </sql>

  <sql id="sql_affiliation_un_otherwise">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND a.JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
    </choose>
  </sql>

  <select id="queryByNf" resultMap="FundsMap" parameterType="java.lang.String">
    SELECT
      jgbh, jgmc, nf, ROUND(srhj/10000,2) AS zsr
    from
      v_stat_arp_fin_income
    <where>
      <![CDATA[nf >= #{startYear}]]>
      AND <![CDATA[nf <= #{endYear}]]>
    </where>
    order by
      jgbh ASC, nf ASC
  </select>

  <select id="queryAssetDetail1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AssetDetailQueryDO">
    SELECT
      a.jgbh,
      a.jgmc,
      d.research_field,
      a.income,
      b.outcome,
      c.rs
    FROM (
      SELECT
        jgbh,
        jgmc,
        ROUND(srhj/10000,2) AS income
      FROM
        v_stat_arp_fin_income
      <where>
        nf = #{query.year}
      </where>
    ) AS a,
    (
      SELECT
        jgbh,
        jgmc,
        ROUND(zchj/10000,2) AS outcome
      FROM
        v_stat_arp_fin_expand
      <where>
        nf = #{query.year}
      </where>
    ) AS b,
    (
      SELECT
        jgbh,
        jgmc,
        zs AS rs
      FROM
        v_stat_arp_staff_duty
      <where>
        nf = #{query.year}
      </where>
    ) AS c,
      v_ref_org_type AS d
    <where>
      a.jgbh=b.jgbh
      AND b.jgbh=c.jgbh
      AND c.jgbh=d.jgbh
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
      AND research_field IS NOT NULL
      AND research_field != "NA"
      AND rs!=0
    </where>
    ORDER BY jgbh
  </select>

  <select id="queryAssetDetail2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AssetDetailQueryDO">
    SELECT
      ANY_VALUE(research_field) AS research_field,
      SUM(income) AS income,
      SUM(outcome) AS outcome
    FROM (
      SELECT
        jgbh,
        jgmc,
        ROUND(srhj/10000,2) AS income
      FROM
        v_stat_arp_fin_income
      <where>
        nf = #{query.year}
      </where>
    ) AS a,
    (
      SELECT
        jgbh,
        jgmc,
        ROUND(zchj/10000,2) AS outcome
      FROM
        v_stat_arp_fin_expand
      <where>
        nf = #{query.year}
      </where>
    ) AS b,
    (
      SELECT
        jgbh,
        jgmc,
        zs AS rs
      FROM
        v_stat_arp_staff_duty
      <where>
        nf = #{query.year}
      </where>
    ) AS c,
      v_ref_org_type AS d
    <where>
      a.jgbh=b.jgbh
      AND b.jgbh=c.jgbh
      AND c.jgbh=d.jgbh
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
      AND research_field IS NOT NULL
      AND research_field != "NA"
      AND rs!=0
    </where>
    GROUP BY research_field
    ORDER BY jgbh
  </select>

  <select id="queryAssetDetail3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AssetDetailQueryDO">
    SELECT
      c.jgbh,
      c.jgmc,
      c.research_field,
      a.income,
      b.outcome,
      b.rs
    FROM (
      SELECT
        JGBH,
        ROUND(SRJE/10000,2) AS income
      FROM
        v_cas_no1_irc_pm_14
      <where>
        LEFT(YEAR, 4) = #{query.year}
      </where>
    ) AS a,
    (
      SELECT
        JGBH,
        ROUND(ZCJE/10000,2) AS outcome,
        ZGZS AS rs
      FROM
        v_cas_no1_irc_pm_15
      <where>
        LEFT(YEAR, 4) = #{query.year}
      </where>
    ) AS b,
     v_ref_org_type AS c
    <where>
      a.JGBH=b.JGBH
      AND b.JGBH=c.jgbh
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
      AND research_field IS NOT NULL
      AND research_field != "NA"
      AND rs!=0
    </where>
    ORDER BY JGBH
  </select>

  <select id="queryAssetDetail4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AssetDetailQueryDO">
    SELECT
      ANY_VALUE(research_field) AS research_field,
      SUM(income) AS income,
      SUM(outcome) AS outcome
    FROM (
      SELECT
        JGBH,
        ROUND(SRJE/10000,2) AS income
        FROM
          v_cas_no1_irc_pm_14
        <where>
          LEFT(YEAR, 4) = #{query.year}
        </where>
    ) AS a,
    (
      SELECT
        JGBH,
        ROUND(ZCJE/10000,2) AS outcome,
        ZGZS AS rs
      FROM
        v_cas_no1_irc_pm_15
      <where>
        LEFT(YEAR, 4) = #{query.year}
      </where>
    ) AS b,
      v_ref_org_type AS c
    <where>
      a.JGBH=b.JGBH
      AND b.JGBH=c.jgbh
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
      AND research_field IS NOT NULL
      AND research_field != "NA"
      AND rs!=0
    </where>
    GROUP BY research_field
  </select>

  <select id="queryAreaFinanceIncome" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaFinanceQueryDO">
    SELECT
      ANY_VALUE(a.nf) AS nf,
      ANY_VALUE(a.jgbh) AS jgbh,
      ANY_VALUE(a.jgmc) AS jgmc,
      ROUND(SUM(srhj)/10000,2) AS srhj,
      ROUND(SUM(czbz)/10000,2) AS czbz,
      ROUND(SUM(sysr)/10000,2) AS sysr,
      ROUND(SUM(jysr)/10000,2) AS jysr,
      ROUND(SUM(qtsr)/10000,2) AS qtsr
    FROM
      v_stat_arp_fin_income AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      <include refid="sql_affiliation_un_otherwise"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf, jgbh, jgmc
  </select>

  <select id="queryAreaFinanceOutcome" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaFinanceQueryDO">
    SELECT
      ANY_VALUE(a.nf) AS nf,
      ANY_VALUE(a.jgbh) AS jgbh,
      ANY_VALUE(a.jgmc) AS jgmc,
      ROUND(SUM(zchj)/10000,2) AS zchj,
      ROUND(SUM(ryzc)/10000,2) AS ryzc,
      ROUND(SUM(gyzc)/10000,2) AS gyzc,
      ROUND(SUM(jyzc)/10000,2) AS jyzc
    FROM
      v_stat_arp_fin_expand AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      <include refid="sql_affiliation_un_otherwise"/>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY nf, jgbh, jgmc
  </select>
</mapper>