<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatArpStaffDutyManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatArpStaffDuty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="zs" property="zs" jdbcType="INTEGER" />
    <result column="zyjsry" property="zyjsry" jdbcType="INTEGER" />
    <result column="xzglry" property="xzglry" jdbcType="INTEGER" />
    <result column="gr" property="gr" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jgbh, jgmc, nf, zs, zyjsry, xzglry, gr, update_time
  </sql>

  <select id="queryIncreaseTrend" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.IncreaseTrendQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      SUM(zs) AS zs,
      SUM(zyjsry) AS zyjsry,
      SUM(xzglry) AS xzglry,
      SUM(gr) AS gr
    FROM
      v_stat_arp_staff_duty AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND a.jgbh in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.jgbh IS NOT NULL AND a.jgbh !=''
        </otherwise>
      </choose>
    </where>
    GROUP BY nf
  </select>
  
  <select id="queryNsfcRelation" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ProjectQueryDO">
    SELECT
      a.jgbh,
      a.jgmc,
      a.field,
      a.numbers,
      a.funds,
      b.staff
    FROM (
      SELECT
        jgbh,
        ROUND(SUM(ZS)/(#{query.endYear} - #{query.startYear} + 1), 0) as staff
      FROM
    v_stat_arp_staff_duty
      <where>
        1 = 1
        AND <![CDATA[nf >= #{query.startYear}]]>
        AND <![CDATA[nf <= #{query.endYear}]]>
        <choose>
          <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
            AND jgbh in (
            <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
              #{item}
            </foreach>
            )
          </when>
          <otherwise>
            AND jgbh IS NOT NULL AND jgbh !=''
          </otherwise>
        </choose>
      </where>
      GROUP BY jgbh
    ) AS b,
    (
      SELECT
        ANY_VALUE(r.jgbh) AS jgbh,
        ANY_VALUE(a.jgmc) AS jgmc,
        ANY_VALUE(r.research_field) AS field,
        SUM(a.xzxms) AS numbers,
        ROUND(SUM(a.xzxm_zjf), 2) AS funds
      FROM
    v_stat_nsfc_project as a,
    v_ref_org_type as r
      <where>
        a.jgmc = r.jgmc
        AND <![CDATA[nf >= #{query.startYear}]]>
        AND <![CDATA[nf <= #{query.endYear}]]>
        <choose>
          <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
            AND jgbh in (
            <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
              #{item}
            </foreach>
            )
          </when>
          <otherwise>
            AND jgbh IS NOT NULL AND jgbh !=''
          </otherwise>
        </choose>
        <choose>
          <when test="query.fieldNames != null and query.fieldNames.size() > 0">
            AND research_field in (
            <foreach collection="query.fieldNames" item="item" index="index" separator=",">
              #{item}
            </foreach>
            )
          </when>
          <otherwise>
            AND research_field is not null
            and research_field!='NA'
          </otherwise>
        </choose>
      </where>
      GROUP BY jgbh
    ) AS a
    <where>
      a.jgbh=b.jgbh
      AND b.staff != 0
    </where>
    ORDER BY a.jgbh
  </select>

  <select id="queryKjbRelation" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ProjectQueryDO">
    SELECT
      a.jgbh,
      a.jgmc,
      a.field,
      a.numbers,
      a.funds,
      b.staff
    FROM (
      SELECT
        jgbh,
        ROUND(SUM(ZS)/(#{query.endYear} - #{query.startYear} + 1), 0) as staff
      FROM
        v_stat_arp_staff_duty
      <where>
        1 = 1
        AND <![CDATA[nf >= #{query.startYear}]]>
        AND <![CDATA[nf <= #{query.endYear}]]>
        <choose>
          <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
            AND jgbh in (
            <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
              #{item}
            </foreach>
            )
          </when>
          <otherwise>
            AND jgbh IS NOT NULL AND jgbh !=''
          </otherwise>
        </choose>
      </where>
      GROUP BY jgbh
    ) AS b,
    (
      SELECT
        ANY_VALUE(r.jgbh) AS jgbh,
        ANY_VALUE(a.jgmc) AS jgmc,
        ANY_VALUE(r.research_field) AS field,
        SUM(a.xzxms) AS numbers,
        ROUND(SUM(a.xzxm_zjf), 2) AS funds
      FROM
        v_stat_most_project as a,
        v_ref_org_type as r
      <where>
        a.jgmc = r.jgmc
        AND <![CDATA[nf >= #{query.startYear}]]>
        AND <![CDATA[nf <= #{query.endYear}]]>
        <choose>
          <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
            AND jgbh in (
            <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
              #{item}
            </foreach>
            )
          </when>
          <otherwise>
            AND jgbh IS NOT NULL AND jgbh !=''
          </otherwise>
        </choose>
        <choose>
          <when test="query.fieldNames != null and query.fieldNames.size() > 0">
            AND research_field in (
            <foreach collection="query.fieldNames" item="item" index="index" separator=",">
              #{item}
            </foreach>
            )
          </when>
          <otherwise>
            AND research_field is not null
            and research_field!='NA'
          </otherwise>
        </choose>
      </where>
      GROUP BY jgbh
    ) AS a
    <where>
      a.jgbh=b.jgbh
      AND b.staff != 0
    </where>
    ORDER BY jgbh
  </select>

  <select id="queryXdRelation" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ProjectQueryDO">
    SELECT
      a.jgbh,
      a.jgmc,
      a.field,
      a.numbers,
      a.funds,
      b.staff
    FROM (
      SELECT
        jgbh,
        ROUND(SUM(ZS)/(#{query.endYear} - #{query.startYear} + 1), 0) as staff
      FROM
        v_stat_arp_staff_duty
      <where>
        1 = 1
        AND <![CDATA[nf >= #{query.startYear}]]>
        AND <![CDATA[nf <= #{query.endYear}]]>
        <choose>
          <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
            AND jgbh in (
            <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
              #{item}
            </foreach>
            )
          </when>
          <otherwise>
            AND jgbh IS NOT NULL AND jgbh !=''
          </otherwise>
        </choose>
      </where>
      GROUP BY jgbh
    ) AS b,
    (
      SELECT
        ANY_VALUE(r.jgbh) AS jgbh,
        ANY_VALUE(a.jgmc) AS jgmc,
        ANY_VALUE(r.research_field) AS field,
        SUM(a.xzxms) AS numbers,
        ROUND(SUM(a.xzxm_zjf), 2) AS funds
      FROM
        v_stat_xdzx as a,
        v_ref_org_type as r
      <where>
        a.jgmc = r.jgmc
        AND <![CDATA[nf >= #{query.startYear}]]>
        AND <![CDATA[nf <= #{query.endYear}]]>
        <choose>
          <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
            AND jgbh in (
            <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
              #{item}
            </foreach>
            )
          </when>
          <otherwise>
            AND jgbh IS NOT NULL AND jgbh !=''
          </otherwise>
        </choose>
        <choose>
          <when test="query.fieldNames != null and query.fieldNames.size() > 0">
            AND research_field in (
            <foreach collection="query.fieldNames" item="item" index="index" separator=",">
              #{item}
            </foreach>
            )
          </when>
          <otherwise>
            AND research_field is not null
            and research_field!='NA'
          </otherwise>
        </choose>
      </where>
      GROUP BY jgbh
    ) AS a
    <where>
      a.jgbh=b.jgbh
      AND b.staff != 0
    </where>
    ORDER BY jgbh
  </select>

  <select id="queryFinanceRank" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaFinanceQueryDO">
    SELECT
      c.jgbh, c.jgmc, income, outcome, ROUND(income/zs,2) AS avg_income, ROUND(outcome/zs,2) AS
    avg_outcome
    FROM
    (
      (
        SELECT
          a.jgbh, a.jgmc, zs, income
        FROM
        (
          (
            SELECT
              t2.jgbh, t2.jgmc, zs
            FROM
              v_stat_arp_staff_duty AS t1, v_ref_org_type AS t2
            <where>
              zs != 0
              AND t1.jgbh = t2.jgbh
              AND nf = #{query.endYear}
            </where>
          ) AS a
          LEFT JOIN
          (
            SELECT
              jgbh, ROUND(srhj/10000,2) AS income
            FROM
              v_stat_arp_fin_income
            <where>
              AND nf = #{query.endYear}
            </where>
          ) AS b
          ON a.jgbh = b.jgbh
        )
      ) AS c
      LEFT JOIN
      (
        SELECT
          jgbh, ROUND(zchj/10000,2) AS outcome
        FROM
          v_stat_arp_fin_expand
        <where>
          nf = #{query.endYear}
        </where>
      ) AS d
      ON c.jgbh = d.jgbh
    )
    <where>
      <choose>
        <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
          AND c.JGBH in (
          <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
      </choose>
    </where>
  </select>
</mapper>