<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatArpStaffTechLevelManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatArpStaffTechLevel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="gj" property="gj" jdbcType="INTEGER" />
    <result column="fg" property="fg" jdbcType="INTEGER" />
    <result column="zj" property="zj" jdbcType="INTEGER" />
    <result column="cj" property="cj" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jgbh, jgmc, nf, gj, fg, zj, cj, update_time
  </sql>

  <select id="queryPositionDistribution" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.PositionDistributionQueryDO">
    SELECT
      SUM(gj) AS gj,
      SUM(fg) AS fg,
      SUM(zj) AS zj,
      SUM(cj) AS cj
    FROM
    v_stat_arp_staff_tech_level
    <where>
      <![CDATA[nf = #{query.endYear}]]>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND jgbh is not null
        </otherwise>
      </choose>
    </where>
  </select>
</mapper>