<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.arp.trend.repository.biz.manual.StatChinaAward10yearFinalCountManualMapper">
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatChinaAward10yearFinalCount">
    <result column="num" jdbcType="BIGINT" property="num" />
    <result column="hjnf" jdbcType="VARCHAR" property="hjnf" />
    <result column="jxlb" jdbcType="VARCHAR" property="jxlb" />
    <result column="hjdj" jdbcType="VARCHAR" property="hjdj" />
    <result column="first_wcdw" jdbcType="VARCHAR" property="firstWcdw" />
    <result column="research_field" jdbcType="VARCHAR" property="researchField" />
    <result column="ssfy" jdbcType="VARCHAR" property="ssfy" />
    <result column="second_wcdw" jdbcType="VARCHAR" property="secondWcdw" />
    <result column="third_wcdw" jdbcType="VARCHAR" property="thirdWcdw" />
  </resultMap>
  <sql id="Base_Column_List" >
    num, hjnf, jxlb, hjdj, first_wcdw, research_field, ssfy, second_wcdw, third_wcdw
  </sql>

  <select id="queryByHjnf" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
      <include refid="Base_Column_List" />
    from
      v_stat_china_award_10year_final_count
    <where>
      <![CDATA[hjnf >= #{startYear}]]>
      AND <![CDATA[hjnf <= #{endYear}]]>
    </where>
    order by
      first_wcdw asc, hjnf asc
  </select>

  <select id="queryNationalAward1" resultType="java.util.HashMap">
    SELECT
      ANY_VALUE(jxlb) AS jxlb,
      ANY_VALUE(first_wcdw) AS jgmc,
      SUM(num) AS num
    FROM
      v_stat_china_award_10year_final_count
    <where>
      jxlb in ("国家自然科学奖", "国家技术发明奖", "国家科学技术进步奖")
      AND first_wcdw in ("上海交通大学", "中国科学技术大学",
      "中国科学院", "北京大学", "南京大学", "哈尔滨工业大学", "复旦大学", "浙江大学", "清华大学", "西安交通大学")
    </where>
    GROUP BY
      jxlb, first_wcdw
  </select>

  <select id="queryNationalAward2" resultType="java.util.HashMap">
    SELECT
      ANY_VALUE(jxlb) AS jxlb,
      SUM(num) AS num
    FROM
      v_stat_china_award_10year_final_count
    <where>
      jxlb in ("国家自然科学奖", "国家技术发明奖", "国家科学技术进步奖")
      AND first_wcdw in (SELECT jgmc FROM v_ref_org_type)
    </where>
    GROUP BY
      jxlb
  </select>
</mapper>