<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatNsfcProjectManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatNsfcProject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="zzlb" property="zzlb" jdbcType="VARCHAR" />
    <result column="xzxms" property="xzxms" jdbcType="BIGINT" />
    <result column="xzxm_zjf" property="xzxmZjf" jdbcType="DOUBLE" />
    <result column="datasource_type" property="datasourceType" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ProjectResultMap" type="cn.arp.trend.entity.biz.CompareProjectObj">
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="xm" property="xm" jdbcType="BIGINT" />
    <result column="jf" property="jf" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jgmc, nf, zzlb, xzxms, xzxm_zjf, datasource_type
  </sql>

  <select id="queryByNf" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
      <include refid="Base_Column_List" />
    from
      v_stat_nsfc_project
    <where>
      <![CDATA[nf >= #{startYear}]]>
      AND <![CDATA[nf <= #{endYear}]]>
    </where>
    order by
      jgmc asc, nf asc
  </select>
  
  <select id="queryProject" resultMap="ProjectResultMap"
          parameterType="cn.arp.trend.data.model.DO.ProjectQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      ANY_VALUE(jgbh) AS jgbh,
      ANY_VALUE(r.jgmc) AS jgmc,
      SUM(xzxms) AS xm,
      ROUND(SUM(xzxm_zjf),2) AS jf
    FROM
      v_stat_nsfc_project as a,
      v_ref_org_type as r
    <where>
      a.jgmc = r.jgmc
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
          AND jgbh in (
          <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND jgbh IS NOT NULL AND jgbh != ''
        </otherwise>
      </choose>
      <choose>
        <when test="query.fieldNames != null and query.fieldNames.size() > 0">
          AND research_field in (
          <foreach collection="query.fieldNames" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field IS NOT NULL AND research_field != 'NA'
        </otherwise>
      </choose>
    </where>
    GROUP BY
      nf, jgbh, jgmc
    ORDER BY
      nf
  </select>

  <select id="queryNsfc1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ProjectQueryDO">
    SELECT
      a.jgmc,
      a.nf,
      a.xzxms,
      a.xzxm_zjf,
      b.jgbh,
      b.research_field,
      b.ssfy
    FROM
      v_stat_nsfc_project AS a,
      v_ref_org_type AS b
    <where>
      a.jgmc = b.jgmc
      <choose>
        <when test="query.fieldNames != null and query.fieldNames.size() > 0">
          AND research_field in (
          <foreach collection="query.fieldNames" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
          AND JGBH in (
          <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND JGBH is not null
        </otherwise>
      </choose>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
  </select>

  <select id="queryNsfc2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ProjectQueryDO">
    SELECT
      nf AS year,
      SUM(xzxms) AS xzxms
    FROM
      v_stat_nsfc_project AS a,
      v_ref_org_type AS b
    <where>
      a.jgmc = b.jgmc
      <choose>
        <when test="query.fieldNames != null and query.fieldNames.size() > 0">
          AND research_field in (
          <foreach collection="query.fieldNames" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
          AND JGBH in (
          <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND JGBH is not null
        </otherwise>
      </choose>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY year
  </select>

  <select id="queryNsfc3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ProjectQueryDO">
    SELECT
      nf AS year,
      ROUND(SUM(xzxm_zjf), 2) xzzjf
    FROM
      v_stat_nsfc_project AS a, v_ref_org_type AS b
    <where>
      a.jgmc = b.jgmc
      <choose>
        <when test="query.fieldNames != null and query.fieldNames.size() > 0">
          AND research_field in (
          <foreach collection="query.fieldNames" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
          AND JGBH in (
          <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND JGBH is not null
        </otherwise>
      </choose>
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
    </where>
    GROUP BY year
  </select>

  <select id="queryNsfc4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ProjectQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      SUM(xm) AS xm,
      ROUND(SUM(jf)/10000,2) AS jf
    FROM
      v_stat_arp_project
    <where>
      <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
          AND JGBH in (
          <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND JGBH is not null
        </otherwise>
      </choose>
      AND lx=0
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryIncrease1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.ProjectQueryDO">
    SELECT
      SUM(xzxms) AS xzxms,
      ROUND(SUM(xzxm_zjf), 2) AS xzzjf
    FROM
      v_stat_nsfc_project AS a,
      v_ref_org_type AS b
    <where>
      a.jgmc = b.jgmc
      <choose>
        <when test="query.fieldNames != null and query.fieldNames.size() > 0">
          AND research_field in (
          <foreach collection="query.fieldNames" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliationIds != null and query.affiliationIds.size() > 0">
          AND JGBH in (
          <foreach collection="query.affiliationIds" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND JGBH is not null
        </otherwise>
      </choose>
    </where>
  </select>
</mapper>