<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatCasPaperManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatCasPaper" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="jgmc_ori" property="jgmcOri" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="lws" property="lws" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jgbh, jgmc_ori, jgmc, nf, lws
  </sql>

  <sql id="sql_affiliation">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
      <otherwise>
        AND JGBH is not null
      </otherwise>
    </choose>
  </sql>

  <sql id="sql_affiliation_b">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND b.JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
      <otherwise>
        AND b.JGBH is not null
      </otherwise>
    </choose>
  </sql>

  <select id="queryByNf" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
      <include refid="Base_Column_List" />
    from
      v_stat_cas_paper
    <where>
      <![CDATA[nf >= #{startYear}]]>
      AND <![CDATA[nf <= #{endYear}]]>
    </where>
    order by
    jgmc asc, nf asc
  </select>

  <select id="querySci1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.PaperSciQueryDO">
    SELECT
      *
    FROM
      v_stat_cas_paper AS a,
      v_ref_org_type as b
    <where>
      a.jgmc=b.jgmc
      AND <![CDATA[a.nf >= #{query.startYear}]]>
      AND <![CDATA[a.nf <= #{query.endYear}]]>
      <choose>
        <when test="query.fields != null and query.fields.size() > 0">
          AND b.research_field in (
          <foreach collection="query.fields" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.research_field is not null
          and b.research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliation != null and query.affiliation.size() > 0">
          AND a.jgmc in (
          <foreach collection="query.affiliation" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
      </choose>
    </where>
  </select>

  <select id="querySci2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.PaperSciQueryDO">
    SELECT
      *
    FROM
      v_stat_arp_paper_sci AS a,
      v_ref_org_type as b
    <where>
      a.jgmc=b.jgmc
      AND <![CDATA[a.nf >= #{query.startYear}]]>
      AND <![CDATA[a.nf <= #{query.endYear}]]>
      <choose>
        <when test="query.fields != null and query.fields.size() > 0">
          AND b.research_field in (
          <foreach collection="query.fields" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.research_field is not null
          and b.research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliation != null and query.affiliation.size() > 0">
          AND a.jgmc in (
          <foreach collection="query.affiliation" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
      </choose>
    </where>
  </select>
  
  <select id="queryAreaPaperSci1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaHrQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf, SUM(lws) AS sci
    FROM
      v_stat_cas_paper AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <include refid="sql_affiliation_b"/>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryAreaPaperSci2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaHrQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf, SUM(num) AS sci
    FROM
      v_stat_arp_paper_sci AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <include refid="sql_affiliation_b"/>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryAreaPaperSci3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaHrQueryDO">
    SELECT
      ANY_VALUE(a.jgbh) AS jgbh, ANY_VALUE(a.jgmc) AS jgmc, SUM(a.lws) AS sci
    FROM
      v_stat_cas_paper AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <include refid="sql_affiliation_b"/>
    </where>
    GROUP BY jgbh
    ORDER BY sci DESC
  </select>

  <select id="queryAreaPaperSci4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaHrQueryDO">
    SELECT
      SUM(lws) AS sci
    FROM
      v_stat_cas_paper AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <include refid="sql_affiliation_b"/>
    </where>
  </select>

  <select id="queryAreaPaperSci5" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaHrQueryDO">
    SELECT
      SUM(lws) AS sci
    FROM
      v_stat_cas_paper
    <where>
      <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      AND jgbh IS NOT NULL
    </where>
  </select>
</mapper>