<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatArpStaffManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatArpStaff" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="zb" property="zb" jdbcType="INTEGER" />
    <result column="ld" property="ld" jdbcType="INTEGER" />
    <result column="tx" property="tx" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jgbh, jgmc, nf, zb, ld, tx, update_time
  </sql>
  <select id="queryPersonTypeDistribution" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.PersonTypeDistributionQueryDO">
    SELECT
      SUM(zb) AS zb,
      SUM(ld) AS ld,
      SUM(tx) AS tx
    FROM
    v_stat_arp_staff
    <where>
      <![CDATA[nf = #{query.endYear}]]>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND jgbh is not null
        </otherwise>
      </choose>
    </where>
  </select>
</mapper>