<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatTeacherStudentManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatTeacherStudent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="bdrs" property="bdrs" jdbcType="INTEGER" />
    <result column="bsrs" property="bsrs" jdbcType="INTEGER" />
    <result column="sdrs" property="sdrs" jdbcType="INTEGER" />
    <result column="ssrs" property="ssrs" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jgmc, jgbh, nf, bdrs, bsrs, sdrs, ssrs
  </sql>

  <select id="queryByNf" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
      <include refid="Base_Column_List" />
    from
      v_stat_teacher_student
    <where>
      <![CDATA[nf >= #{startYear}]]>
      AND <![CDATA[nf <= #{endYear}]]>
    </where>
    order by
      nf ASC
  </select>

  <select id="trend4DoctoralSupervisor" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.TrendDoctoralSupervisorQueryDO">
    SELECT
      a.nf AS year,
      SUM(a.bdrs) AS mentor_number,
      SUM(a.bsrs) AS student_number
    FROM
      v_stat_teacher_student AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.fieldName != null and query.fieldName.size() > 0">
          AND b.research_field in (
          <foreach collection="query.fieldName" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND b.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.JGBH is not null
        </otherwise>
      </choose>
    </where>
    GROUP BY a.nf
  </select>

  <select id="trend4MasterSupervisor" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.TrendMasterSupervisorQueryDO">
    SELECT
      a.nf AS year,
      SUM(a.sdrs) AS mentor_number,
      SUM(a.ssrs) AS student_number
    FROM
      v_stat_teacher_student AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.fieldName != null and query.fieldName.size() > 0">
          AND b.research_field in (
          <foreach collection="query.fieldName" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND b.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.JGBH is not null
        </otherwise>
      </choose>
    </where>
    GROUP BY a.nf
  </select>

  <select id="trend4All1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.TrendAllQueryDO">
    SELECT
      a.nf AS year,
      SUM(a.bdrs) AS mentor_number,
      SUM(a.bsrs) AS student_number
    FROM
      v_stat_teacher_student AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.fieldName != null and query.fieldName.size() > 0">
          AND b.research_field in (
          <foreach collection="query.fieldName" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.research_field is not null
          and b.research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND b.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.JGBH is not null
        </otherwise>
      </choose>
    </where>
    GROUP BY a.nf
  </select>

  <select id="trend4All2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.TrendAllQueryDO">
    SELECT
      a.nf AS year,
      SUM(a.sdrs) AS mentor_number,
      SUM(a.ssrs) AS student_number
    FROM
      v_stat_teacher_student AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.fieldName != null and query.fieldName.size() > 0">
          AND b.research_field in (
          <foreach collection="query.fieldName" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.research_field is not null
          and b.research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND b.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.JGBH is not null
        </otherwise>
      </choose>
    </where>
    GROUP BY a.nf
  </select>

  <select id="mentorDetail" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.MentorDetailQueryDO">
    SELECT
      ANY_VALUE(a.nf) AS year,
      ANY_VALUE(a.jgbh) AS id,
      ANY_VALUE(a.jgmc) AS affiliation,
      SUM(a.bdrs) AS bd,
      SUM(a.bsrs) AS bs,
      SUM(sdrs) AS sd,
      SUM(ssrs) AS ss
    FROM
      v_stat_teacher_student AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.fieldName != null and query.fieldName.size() > 0">
          AND b.research_field in (
          <foreach collection="query.fieldName" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND b.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.JGBH is not null
        </otherwise>
      </choose>
    </where>
    GROUP BY
      a.nf, a.jgmc
    ORDER BY
      a.jgmc, a.nf
  </select>

  <select id="queryEdu4D1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      SUM(bdrs) AS rs
    FROM
      v_stat_teacher_student AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
          AND b.JGBH in (
          <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.JGBH is not null
        </otherwise>
      </choose>
    </where>
    GROUP BY nf
  </select>

  <select id="queryEdu4D2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      SUM(bdrs) AS rs
    FROM
      v_stat_teacher_student AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh = b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
    </where>
  </select>

  <select id="queryEdu4D3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      SUM(bdrs) AS rs
    FROM
      v_stat_teacher_student AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh = b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      AND a.JGBH is not null
    </where>
  </select>

  <select id="queryEdu4D4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      ANY_VALUE(b.jgbh) AS jgbh,
      ANY_VALUE(b.jgmc) AS jgmc,
      SUM(bdrs) AS rs
    FROM
      v_stat_teacher_student AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND nf = #{query.endYear}
      AND b.jgbh IS NOT NULL
    </where>
    GROUP BY b.jgbh
    ORDER BY rs DESC
  </select>

  <select id="queryEdu4M1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf,
      SUM(sdrs) AS rs
    FROM
      v_stat_teacher_student AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
          AND b.JGBH in (
          <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND b.JGBH is not null
        </otherwise>
      </choose>
    </where>
    GROUP BY nf
  </select>

  <select id="queryEdu4M2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      SUM(sdrs) AS rs
    FROM
      v_stat_teacher_student AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh = b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      <choose>
        <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
    </where>
  </select>

  <select id="queryEdu4M3" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      SUM(sdrs) AS rs
    FROM
      v_stat_teacher_student AS a,
      v_ref_org_type AS b
    <where>
      a.jgbh = b.jgbh
      AND <![CDATA[nf >= #{query.startYear}]]>
      AND <![CDATA[nf <= #{query.endYear}]]>
      AND a.JGBH is not null
    </where>
  </select>

  <select id="queryEdu4M4" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaEduQueryDO">
    SELECT
      ANY_VALUE(b.jgbh) AS jgbh,
      ANY_VALUE(b.jgmc) AS jgmc,
      SUM(sdrs) AS rs
    FROM
      v_stat_teacher_student AS a, v_ref_org_type AS b
    <where>
      a.jgbh=b.jgbh
      and nf = #{query.endYear}
      AND b.jgbh IS NOT NULL
    </where>
    GROUP BY jgbh
    ORDER BY rs DESC
  </select>
</mapper>