<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatCasStaffQianzaiyearcountBydanweiManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatCasStaffQianzaiyearcountBydanwei" >
    <id column="year" property="year" jdbcType="BIGINT" />
    <id column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    year, jgbh, jgmc, count
  </sql>

  <sql id="sql_affiliation">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
      <otherwise>
        AND JGBH is not null
      </otherwise>
    </choose>
  </sql>

  <select id="queryYoungEliteTrend" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.YoungEliteQueryDO">
    SELECT
      ANY_VALUE(nf) AS year,
      SUM(count) AS young_elite,
      SUM(zs) AS staff_number,
      ROUND(SUM(count)/SUM(zs), 2) AS proportion
    FROM
    v_stat_cas_staff_qianzaiyearcount_bydanwei AS a,
    v_stat_arp_staff_duty AS b,
    v_ref_org_type AS c
    <where>
      a.jgbh = b.jgbh
      AND a.YEAR = b.nf
      AND b.jgbh = c.jgbh
      AND <![CDATA[year >= #{query.startYear}]]>
      AND <![CDATA[year <= #{query.endYear}]]>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
      <choose>
        <when test="query.fieldName != null and query.fieldName.size() > 0">
          AND research_field in (
          <foreach collection="query.fieldName" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      AND zs != 0
    </where>
    GROUP BY nf
  </select>

  <select id="queryDistributionField" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DistributionFieldQueryDO">
    SELECT
      ANY_VALUE(research_field) AS field,
      SUM(count) AS young_elite,
      SUM(zs) AS staff_number,
      ROUND(SUM(count)/SUM(zs), 2) AS proportion
    FROM
    v_stat_cas_staff_qianzaiyearcount_bydanwei AS a,
    v_stat_arp_staff_duty AS b,
    v_ref_org_type AS c
    <where>
      a.jgbh = b.jgbh
      AND a.YEAR = b.nf
      AND b.jgbh = c.jgbh
      AND year = #{query.year}
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
      <choose>
        <when test="query.fieldName != null and query.fieldName.size() > 0">
          AND research_field in (
          <foreach collection="query.fieldName" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      AND zs != 0
    </where>
    GROUP BY research_field
  </select>

  <select id="queryDistributionAffiliation" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.DistributionAffiliationQueryDO">
    SELECT
      c.jgbh AS id,
      c.jgmc AS affiliation,
      research_field,
      count AS young_elite,
      zs AS staff_number,
      ROUND(count/zs, 2) AS proportion
    FROM
    v_stat_cas_staff_qianzaiyearcount_bydanwei AS a,
    v_stat_arp_staff_duty AS b,
    v_ref_org_type AS c
    <where>
      a.jgbh = b.jgbh
      AND a.YEAR = b.nf
      AND b.jgbh = c.jgbh
      AND year = #{query.year}
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
      <choose>
        <when test="query.fieldName != null and query.fieldName.size() > 0">
          AND research_field in (
          <foreach collection="query.fieldName" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND research_field is not null
          and research_field!='NA'
        </otherwise>
      </choose>
      AND zs != 0
    </where>
    ORDER BY proportion DESC
  </select>
  
  <select id="queryYoungElite1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaHrQueryDO">
    SELECT
      ANY_VALUE(nf) AS nf, SUM(count) AS rs_young, SUM(zs) AS rs_staff
    FROM
    v_stat_cas_staff_qianzaiyearcount_bydanwei AS a, v_stat_arp_staff_duty AS b
    <where>
      a.jgbh=b.jgbh
      AND a.year=b.nf
      AND <![CDATA[year >= #{query.startYear}]]>
      AND <![CDATA[year <= #{query.endYear}]]>
      <choose>
        <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
    </where>
    GROUP BY nf
    ORDER BY nf
  </select>

  <select id="queryYoungElite2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaHrQueryDO">
    SELECT
      <include refid="Base_Column_List"/>
    FROM
      v_stat_cas_staff_qianzaiyearcount_bydanwei
    <where>
      year = #{query.endYear}
      <include refid="sql_affiliation"/>
    </where>
    ORDER BY count DESC
  </select>
</mapper>