<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.StatArpFinAssetManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.StatArpFinAsset" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jgbh" property="jgbh" jdbcType="VARCHAR" />
    <result column="jgmc" property="jgmc" jdbcType="VARCHAR" />
    <result column="nf" property="nf" jdbcType="VARCHAR" />
    <result column="zzc" property="zzc" jdbcType="DOUBLE" />
    <result column="zxl" property="zxl" jdbcType="DOUBLE" />
    <result column="zc" property="zc" jdbcType="DOUBLE" />
    <result column="sr" property="sr" jdbcType="DOUBLE" />
    <result column="ye" property="ye" jdbcType="DOUBLE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jgbh, jgmc, nf, zzc, zxl, zc, sr, ye, update_time
  </sql>

  <sql id="sql_affiliation_un_otherwise">
    <choose>
      <when test="query.unitIdAry != null and query.unitIdAry.size() > 0">
        AND JGBH in (
        <foreach collection="query.unitIdAry" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </when>
    </choose>
  </sql>

  <select id="queryOverview1" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.OverviewQueryDO">
    SELECT
      ROUND(SUM(zzc)/10000,2) AS zzc,
      ROUND(SUM(zc)/10000,2) AS zc,
      ROUND(SUM(sr)/10000,2) AS sr,
      ROUND(SUM(ye)/10000,2) AS ye
    FROM
    v_stat_arp_fin_asset
    <where>
      <![CDATA[nf = #{query.year}]]>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND JGBH is not null
        </otherwise>
      </choose>
    </where>
  </select>

  <select id="queryOverview2" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.OverviewQueryDO">
    SELECT
      research_field,
      ROUND(SUM(sr)/10000,2) AS sr
    FROM
    v_stat_arp_fin_asset AS a, v_ref_org_type AS b
    <where>
      a.jgbh = b.jgbh
      AND <![CDATA[nf = #{query.year}]]>
      <choose>
        <when test="query.affiliationId != null and query.affiliationId.size() > 0">
          AND a.JGBH in (
          <foreach collection="query.affiliationId" item="item" index="index" separator=",">
            #{item}
          </foreach>
          )
        </when>
        <otherwise>
          AND a.JGBH is not null
        </otherwise>
      </choose>
      AND research_field IS NOT NULL
      AND research_field != "NA"
      GROUP BY
        research_field
    </where>
  </select>

  <select id="queryFinanceOverview" resultType="java.util.HashMap"
          parameterType="cn.arp.trend.data.model.DO.AreaFinanceQueryDO">
    SELECT
      jgbh,
      jgmc,
      ROUND(zzc/10000,2) AS zzc,
      ROUND(zc/10000,2) AS zc,
      ROUND(sr/10000,2) AS sr,
      ROUND(ye/10000,2) AS ye,
      ROUND(SUM(sr)/10000,2) AS sum_sr
    FROM
    v_stat_arp_fin_asset
    <where>
      nf = #{query.endYear}
      <include refid="sql_affiliation_un_otherwise"/>
    </where>
  </select>

</mapper>