<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.arp.trend.repository.biz.manual.UpdateFrequencyManualMapper" >
  <resultMap id="BaseResultMap" type="cn.arp.trend.entity.biz.UpdateFrequency" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
    <result column="page_level" property="pageLevel" jdbcType="VARCHAR" />
    <result column="sub_module_name" property="subModuleName" jdbcType="VARCHAR" />
    <result column="graph_name" property="graphName" jdbcType="VARCHAR" />
    <result column="data_key" property="dataKey" jdbcType="VARCHAR" />
    <result column="data_value" property="dataValue" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, module_name, page_level, sub_module_name, graph_name, data_key, data_value, frequency,
    notes
  </sql>

  <select id="queryAll" resultMap="BaseResultMap"
          parameterType="cn.arp.trend.data.model.DO.UpdateDataQueryDO">
    SELECT
      <include refid="Base_Column_List" />
    from
      update_frequency
    <where>
      <choose>
        <when test="query.classify != null">
          sub_module_name = #{query.classify}
        </when>
      </choose>
      AND graph_name = #{query.name}
    </where>
  </select>
</mapper>